---
import { Picture } from "@astrojs/image/components";

export interface Props {
  s: any;
}

const { s } = Astro.props;
---

<div class="card">
  <div class="card-img">
    <a href={"/" + s.slug}>
      <Picture
        alt={"Thumbnail " + s.data.name}
        aspectRatio="20:12"
        background="transparent"
        class="thumbnail"
        fit="cover"
        formats={["avif", "webp", "jpeg"]}
        height="120px"
        sizes={"(max-width: 1400px) 200px,400px"}
        src={"/images/seeds/" + s.slug.substr(9) + "/keyvisual.jpg"}
        position="center"
        width="200px"
        widths={[90, 180]}
        style=""
      />
    </a>
  </div>
  <div class="card-body">
    <a href={"/" + s.slug}>
      <h3>
        {s.data.name}
      </h3>
      <p>
        {s.data.desc_short.substring(0, 80) + "..."}
      </p>
    </a>
  </div>
</div>

<style>
  .card {
    break-inside: avoid;
    margin-bottom: calc((120px - var(--padd-md)) * -1);
  }
  .card > a {
    text-decoration: none;
  }

  .card-img {
    height: 120px;
    overflow: hidden;
    width: 100%;
  }

  .card-img img,
  .card-img picture {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
  }

  .card-body {
    transform: translateY(-120px);
  }

  h3 {
    background: rgba(0, 0, 0, 0.2);
    color: white;
    height: 120px;
    margin: 0 0 0 0;
    padding: var(--padd-sm) 0 0 var(--padd-sm);
    text-shadow: 1px 1px 4px black;
  }
  p {
    background-color: white;
    border-radius: var(--rad-md);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -2px rgba(0, 0, 0, 0.1);
    color: #444;
    margin-top: 0;
    margin-bottom: 0;
    padding: var(--padd-sm);
  }
  .link-card:is(:hover, :focus-within) {
    background-position: 0;
  }
  .link-card:is(:hover, :focus-within) h2 {
    color: rgb(var(--accent));
  }
</style>
